body {
  background-image: url("./img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family:  'Hubballi', cursive;
}
.child {
  width: 100%;
}
.parent {
 background-color: #f6f6f6;
}

.parent .child {
    width: 100%;
    padding: 0;
    margin:0;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.titile{
  font-weight: 400;
}

.parent .links {
  position: relative;
}
.parent .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.parent .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.parent .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.parent .links .icon span:first-child {
  width: 100%;
}
.parent .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.5s;
}
.parent .links .icon span:last-child {
  width: 100%;
}
.parent .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.parent .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.parent .links:hover ul {
  display: block;
}
.parent .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.5s;
}
.parent .links ul li a:hover {
  padding-left: 25px;
}
.parent .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.text {
  width: 30%;
  margin: 10% auto;
  align-items: center;
  text-align: center;
}
.text h1 {
  font-weight: 900;
}
.text h4 {
  font-weight: 500;
}
.text button {
  border: 3px solid black;
  width: 40%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}
.text button:hover {
  color: aliceblue;
  background-color: black;
}
